@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5rem;
  padding-left: 2rem;
}
body header .menu ul {
  display: flex;
  list-style-type: none;
}
body header .menu ul li {
  margin-right: 2rem;
}
body header .menu ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}
body header .menu ul li .active {
  font-weight: bold;
  color: #af63ff;
}

.landing {
  margin: 4rem 1.5rem;
  border: 1px solid #CEC2F4;
}

.box {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h1 {
  color: #6369FF;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 900;
}

.left button {
  width: 30%;
  background: #AF64FF;
  border: none;
  color: #fff;
  border-radius: 25px;
  padding: 1.125rem 0;
  font-size: medium;
  font-weight: 700;
  margin-top: 1.75rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo {
  color: #666666;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-top: -3rem;
}

.promo span {
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-top: -20px;
}

.promo span span {
  color: #6369FF;
  font-size: 3.75rem;
  font-weight: 800;
  margin: 0 10px
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.625rem;
  padding: 3.375rem 0;
  text-align: center;
}

.about h3 {
  text-transform: uppercase;
  font-weight: 500;
}

.about p {
  line-height: 250%;
  width: 65%;
}

hr {
  height: 5px; 
  border: 0px solid #CEC2F4; 
  border-top-width: 1px;
}

.featured {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 11rem;
}

.featured h3 {
  text-transform: uppercase;
  font-weight: 500;
  padding: 4.625rem 0;
}

.featured hr {
  margin-top: -64px;
}

.category-image img {
  width: 22.6875rem;
  height: 22.6875rem;
  object-fit: cover;
  border-radius: 25px;
}

.category:nth-child(3) img {
  object-position: center top;
}

.cat-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 3rem;
}

.category{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.category span {
  padding: 1.25rem 3.5rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 30px;
  position: absolute;
  bottom: -30px;
}


/* Code for marquee on all pages */
.marquee-container {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.marquee {
  height: 40px;
  overflow: hidden;
  position: relative;
  background: #AF64FF;
  color: #fff;
}

.marquee p {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 20s linear infinite;

  display: flex;
  gap: 16px;
}

.marquee span {
  flex-shrink: 0;
}

@-moz-keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
      -webkit-transform: translateX(100%);
  }
  100% {
      -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
}


.trending {
  text-align: center;
  padding-bottom: 7.6rem;
}

.trending h2 {
  font-weight: 500;
  font-size: 48px;
}

.trending p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}

.best-sellers {
  display: flex;
  flex-direction: column;
}

.best-sellers h2 {
  color: #5906B7;
  font-size: 40px;
  font-weight: 600;
  padding-top: 6.25rem;
  padding-bottom: 3.69rem;
  margin: 0 7rem;
}

.best-sellers .cat-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 3rem;
  flex-wrap: wrap;
  row-gap: 3rem;
}

.category-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 1rem;
}

.category-1 a {
  color: #000;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(#000 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}

.category-1 a:hover {
  background-position: 100% 100%;
  background-size: 100% 2px;
}

.signup {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 11rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  background-color: #CEC2F4;
  padding: 3rem;
  padding-right: 6rem;
}

.card h3 {
  font-size: 32px;
  font-weight: 600;
}

.card form {
  display: flex;
  /* justify-content: center; */
  gap: 1rem;
  width: 120%;
}

.card form input {
  padding: 1.5rem;
  font-size: 18px;
  background-color: #EEEEEE;
  border: none;
  width: 60%;
  /* border-bottom: 1px solid #21818D; */
}

.card form button {
  padding: 1.5rem 2.6rem;
  font-size: 18px;
  color: #fff;
  background-color: #AF64FF;
  border: none;
}
